.delete-btn-wrapper
	display: flex
	justify-content: center
	align-items: center
	padding: 10px
	background: #ff5252
	border-radius: 10px
	cursor: pointer
	transition: 0.2s ease
	color: #fff
	gap: 10px

	&:hover
		transform: scale(1.1)

	span
		font-size: 18px

	svg
		font-size: 20px